{% extends 'base/base.html' %}
{% load static %}

{% block content %}


<div class="breadcumb-area">
	<div class="container">				
		<div class="row">
			<div class="col-md-12 txtc">
				<div class="breadcumb-inner">
					<ul>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><i class="fas fa-angle-right"></i></li>
						<li>Blog</li>
					</ul>						
				</div>
			</div>
		</div>
	</div>
</div>

<!-- BLOG AREA -->
<div class="blog_area blog_top">
	<div class="container">		
		<div class="row">							
			<div class="col-lg-8 col-md-6 col-sm-12">
				<!-- SINGLE BLOG -->
				<div class="single_blog single_blog_grid singles">
					<div class="single_blog_thumb">
						<img src="assets/images/themex-blog-8.jpg" alt=""> 
					</div>
					<!-- BLOG TITLE -->
					<div class="single_blogs_title single_bo">
						<div class="single_blog_title title_style">
							<h3>{{article.title}}</h3>
							<div class="themex-blog-meta">
								<div class="themex-blog-meta-left">
									<span><i class="fas fa-calendar-alt"></i>{{article.date_stamp}}</span>
									<a href="#"><i class="fas fa-users"></i> {{article.author.username}}</a>
									<!-- <a href="#"><i class="fas fa-comment"></i>{{article.comment_set.count}}</a>						 -->
								</div>
							</div>
							<p>{{article.content | safe}}</p>
						</div>	
					</div>							
				</div>
				<div class="blog-text-editor">
					<div class="themex-blog-social">
						<div class="themex-single-icon">
							<div class="themex-single-icon-inner">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>					
						</div>
					</div>
					<div class="comments-area">
						<div id="respond" class="comment-respond">
							<div class="commment_title">
								<h3> Leave a comment</h3>
							</div>
							<form action="#" method="post"> 
								<div class="comment_forms">
									<div class="comment_forms_inner d-block">
										<div class="comment_field">
											<div class="input-field">
												<label>Name<em>*</em></label>
												<input  name="name" type="text" placeholder="Your Name">
											</div>
										</div>
										<div class="comment_field">
											<div class="textarea-field">
												<label>Comment<em>*</em></label>
												<textarea name="comment"   placeholder="Write your comment..."></textarea>
											</div>
										</div>  
									</div>
								</div>
								<button class="themex_btn" type="submit">Post Comment</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6  col-sm-12 col-xs-12 sidebar-right content-widget pdsl">
				<div class="blog-left-side widget">
					<!-- <div  class="widget widget_search">
						<div class="defaultsearch">
							<form action="method" method="get">
								<input type="text" name="s" value="" placeholder="Search" title="Search for:">
								<button type="submit" class="icons">
									<i class="fa fa-search"></i>
								</button>
							</form>
						</div>
					</div> -->
					
					<div  class="widget widget_recent_data">
						<div class="single-widget-item">
							<h2 class="widget-title">Recent Post</h2>				
							{% for related in related_articles %}
								<div class="recent-post-item">
									<div class="recent-post-image">
										<a href="{% url 'article_detail' related.id related.slug %}"><img  src="{{related.featured_image.url}}"  alt=""></a>
									</div>
									<div class="recent-post-text">
										<h4><a href="{% url 'article_detail' related.id related.slug %}">{{related.title}}</a></h4>
										<span class="rcomment">{{related.date_stamp}}</span>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<div  class="widget widget_categories">
						<h2 class="widget-title">Categories</h2>	
						<ul>
							{% for category in article.category_set %}
								<li><a href="#">{{category.name}}</a></li>
							{% endfor %}
						</ul>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>	

{% endblock %}