{% extends 'base/base.html' %}
{% load static %}

{% block content %}



<div class="breadcumb-area">
	<div class="container">				
		<div class="row">
			<div class="col-md-12 txtc">
				<div class="breadcumb-inner">
					<ul>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><i class="fas fa-angle-right"></i></li>
						<li>Contact</li>
					</ul>						
				</div>
			</div>
		</div>
	</div>
</div>

<!-- themex-touch-area -->
<div class="themex-touch-area">
	<div class="container">				
		<div class="row">
			<div class="col-lg-12">
				<div class="apartment_area">				
					<div class="witr_apartment_form">
						{% include 'alerts.html' %}
						<form method="post">
							{% csrf_token %}
							<div class="witr_form_controls2">
								<div class="witr_field2">
									<div class="witr_form_field2">
										<span><input type="text" name="name" required placeholder="Name*"></span>
									</div>
									<div class="witr_form_field2">
										<span><input type="email" name="email" required placeholder="Email*"></span>
									</div>
								</div>
								<div class="witr_field2">
									<div class="witr_form_field2 w-100">
										<span><input type="text" name="subject" required placeholder="Subject"></span>
									</div>
								</div>
								<div class="witr_field2">
									<div class="witr_text_area2">
										<span>
										<textarea name="message" required placeholder="Enter your message here"></textarea>
										</span>
									</div>
								</div>
								<div class="witr_field2">
									<div class=" witr_con_btn2">
										<button class="w_btn2" type="submit" name="ok">Send</button>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<p class="form-messege"></p>
								</div>
							</div>
						</form>
					</div>					
				</div>									
			</div>
		</div>
	</div>
</div>


<!-- themex_map_area	 -->
<div class="themex_map_area">
	<div class="container-fuled">
		<div class="row ">	
			<div class=" col-lg-12">
				<div class="map_area">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93098.99010074232!2d-79.31923986580047!3d43.18130408847011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d35054bb6a5a4b%3A0x37563636c082837!2sSt.%20Catharines%2C%20ON%2C%20Canada!5e0!3m2!1sen!2sng!4v1647982634988!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>								
				</div>		
			</div>	
		</div>	
	</div>	
</div>	
			
{% endblock %}