{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="breadcumb-area">
	<div class="container">				
		<div class="row">
			<div class="col-md-12 txtc">
				<div class="breadcumb-inner">
					<ul>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><i class="fas fa-angle-right"></i></li>
						<li>Donate</li>
					</ul>						
				</div>
			</div>
		</div>
	</div>
</div>


<div class="single_causes_area">
	<div class="container">				
		<div class="row">
			<div class="col-lg-5 col-md-12 col-sm-12">
				<div class="themex_give_thumb">
					<img  src="{% static 'assets/images/dono.png' %}"  alt="" >
				</div>
			</div>
			<div class="col-lg-7 col-md-12 col-sm-12">
				<div class="widget_title">
					<h1>Donate to the Organization</h1>
					<!-- <div class="price_inner">
						<h3><span>${{event.donations}}</span> of <span class="dolar2">${{event.goal}}</span>raised</h3>
					</div>
						<div class="progress witr_progress-style9">
							<div class="progress-bar wow fadeInLeft animated animated" data-wow-duration="1.5s" data-wow-delay="0.2s" style = "width:{{percent}}%; animation-name: fadeInLeft;">
								<span class="witr_percent">{{percent}}%</span>					
							</div>
					</div> -->
					<p>CCCM is an advocate against children's academic instability, depression, boredom, mental and physical abuse. In response to a changing dynamic in Children's education and growth, Community Centre for Children Mission has been formed to play an important role in the strategic direction. We have seen the need and that is why we are taking the lead towards working  together with other partners of similar mindsets to develop the best possible provision for all children and young people to achieve the better community we want to see.</p>
                    <p>By Donating to our organization, you are helping us push our community forward academically and empower children all around to grow into purposful members of our society, Hence creating a better tomorrow.</p>
					<p><em>NB :</em>To donate none monetary resources, kindly <span><a href="{% url 'contact' %}">contact us</a></span></p>
				</div>
				<div class="donation-amount">
					<form action="">
						<div class="form_field2">
						<span>$</span>
							<input  name="give-amount"  placeholder="" value="100.00">
						</div>
						<div class="form_field2">
							<select name="select_opt">
								<option>$10.00</option>
								<option>$25.00</option>
								<option>$50.00</option>
								<option>100.00</option>
								<option>$250.00</option>
								<option>Custom Amount</option>
							</select>
						</div>
						<div class="form_field2">
							<button type="button" class="give-btn give-btn-reveal">Donate Now</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
				
{% endblock %}