{% extends 'base/base.html' %}
{% load static %}

{% block content %}


<div class="breadcumb-area">
	<div class="container">				
		<div class="row">
			<div class="col-md-12 txtc">
				<div class="breadcumb-inner">
					<ul>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><i class="fas fa-angle-right"></i></li>
						<li>Event</li>
					</ul>						
				</div>
			</div>
		</div>
	</div>
</div>

<div class="themex_event_area">			
	<div class="container">
		<div class="row"> 
			<div class="col-lg-12">
				<div class="event_active event_style_adn_3 witr_3e event_all_color text-">				
					<div class="event_wrap">
						<div class="col-lg-12 col-md-12 col-sm-12  witr_all_mb_30">
							<div class="row themex-single-event_adn witr_event_style_5">
								<div class="col-lg-3 col-md-6">
									<div class="themex-event-thumb_adn">
										<a href="single-event.html"> <img  src="{% static 'assets/images/event-thumb-2.jpg' %}"  alt=""></a>
									</div>									
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="event-page-title_adn d-block ">
										<p>Goal: $12,901</p>
										<h2><a href="single-event.html">Most Effective Ways To Overcome Nonprofit</a></h2>
										<div class="themex-event-meta-left_adn">
											<span><i class="fas fa-map-marker-alt"></i>North Helenaville, FV77 8WS</span>
										</div>

									</div>	
																		
								</div>	
								
								<div class="col-lg-3 col-md-6">
									<div class="witr_event_d">
										<div class="event_date_5">
											<span><i class="fas fa-calendar"></i></span>
											<span>April 06, 2021</span>
										</div>
										<div class="themex-event-meta-left_adn">
											<span><i class="fas fa-clock"></i>8.00 am- 9.00 pm</span>
										</div>
									</div>
								</div>
								<div class="col-lg-2 col-md-6">
									<div class="witr_event_btn btn_all_color">
										<a href="#">Donate Now </a>
									</div>												
								</div>											
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12  witr_all_mb_30">
							<div class="row themex-single-event_adn witr_event_style_5">
								<div class="col-lg-3 col-md-6">
									<div class="themex-event-thumb_adn">
										<a href="single-event.html"> <img src="{% static 'assets/images/event-thumb-1.jpg' %}" alt=""></a>
									</div>									
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="event-page-title_adn ">
										<p>Goal: $3,925</p>

										<h2><a href="single-event.html">Fundraising Event Ideas To Raise Money For Your Cause</a></h2>
										<div class="themex-event-meta-left_adn">
											<span><i class="fas fa-map-marker-alt"></i>North Helenaville, FV77 8WS</span>
										</div>
									</div>											
								</div>	
								<div class="col-lg-3 col-md-6">
									<div class="witr_event_d">
										<div class="event_date_5">
											<span><i class="fas fa-calendar"></i></span>
											<span>April 06, 2021</span>
										</div>
										<div class="themex-event-meta-left_adn">
											<span><i class="fas fa-clock"></i>8.00 am- 9.00 pm</span>
										</div>
									</div>
								</div>
								<div class="col-lg-2 col-md-6">
									<div class="witr_event_btn btn_all_color">
										<a href="#">View Details </a>
									</div>												
								</div>											
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12  witr_all_mb_30">
							<div class="row themex-single-event_adn witr_event_style_5">
								<div class="col-lg-3 col-md-6">
									<div class="themex-event-thumb_adn">
										<a href="single-event.html"> <img src="{% static 'assets/images/event-thumb-2.jpg' %}" alt=""></a>
									</div>									
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="event-page-title_adn ">
										<p>Goal: $192,964</p>
										<h2><a href="single-event.html">Most Effective Ways To Overcome Nonprofit</a></h2>
										<div class="themex-event-meta-left_adn">
											<span><i class="fas fa-map-marker-alt"></i>North Helenaville, FV77 8WS</span>
										</div>
									</div>											
								</div>	
								<div class="col-lg-3 col-md-6">
									<div class="witr_event_d">
										<div class="event_date_5">
											<span><i class="fas fa-calendar"></i></span>
											<span>April 06, 2021</span>
										</div>
										<div class="themex-event-meta-left_adn">
											<span><i class="fas fa-clock"></i>8.00 am- 9.00 pm</span>
										</div>
									</div>
								</div>
								<div class="col-lg-2 col-md-6">
									<div class="witr_event_btn btn_all_color">
										<a href="#">View Details </a>
									</div>												
								</div>											
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12  witr_all_mb_30">
							<div class="row themex-single-event_adn witr_event_style_5">
								<div class="col-lg-3 col-md-6">
									<div class="themex-event-thumb_adn">
										<a href="single-event.html"> <img src="{% static 'assets/images/event-thumb-3.jpg' %}" alt=""></a>
									</div>									
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="event-page-title_adn ">
										<h2><a href="single-event.html">Five Questions About Nonprofit You Should</a></h2>
										<div class="themex-event-meta-left_adn">
											<span><i class="fas fa-map-marker-alt"></i>North Helenaville, FV77 8WS</span>
										</div>
									</div>											
								</div>	
								<div class="col-lg-3 col-md-6">
									<div class="witr_event_d">
										<div class="event_date_5">
											<span><i class="fas fa-calendar"></i></span>
											<span>April 06, 2021</span>
										</div>
										<div class="themex-event-meta-left_adn">
											<span><i class="fas fa-clock"></i>8.00 am- 9.00 pm</span>
										</div>
									</div>
								</div>
								<div class="col-lg-2 col-md-6">
									<div class="witr_event_btn btn_all_color">
										<a href="#">View Details </a>
									</div>												
								</div>											
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}