
{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<!-- SLIDER  AREA -->
<div class="main-slider-area">
	<div class="container-fluid pdlr0">
		<div class="row">
			<div class="col-lg-12">
				<div class="em-nivo-slider-wrapper">			
					<div id="mainSlider_id2" class="nivoSlider em-slider-image">
						<img src="{% static 'assets/images/slider01.jpg' %}" alt="" title="#htmlcaption1_743" >	  
						<img src="{% static 'assets/images/slider02.jpg' %}" alt=""  title="#htmlcaption1_744" />		  
					</div>				   
					<!-- em_slider style-1 start -->
					<div id="htmlcaption1_743" class="nivo-html-caption em-slider-content-nivo">
						<div class="em_slider_inner container  text-left">
							<div class="wow slideInRight animated" data-wow-duration="2s" data-wow-delay="s" >
								<h1 class="em-slider-sub-title">Community and Children makes a better nation.</h1>
							</div>			
							<div class="wow slideInRight animated" data-wow-duration="3s" data-wow-delay="s" >
								<p class="em-slider-descript">We mirror our community through children education and family growth.</p>
							</div>
							<!-- <div class="em-slider-button wow bounceInUp  em-button-button-area animated" data-wow-duration="3s" data-wow-delay="s">
								<a class="em-active-button" href="#">OUR SERVICE</a>
								<a class="withput-active" href="#">DONATE NOW</a>
							</div> -->
						</div>
					</div>
						<!-- em_slider style-1 end -->
						<!-- em_slider style-1 start -->
					<div id="htmlcaption1_744" class="nivo-html-caption em-slider-content-nivo">
						<div class="em_slider_inner container  text-left">
							<div class="wow slideInRight animated" data-wow-duration="2s" data-wow-delay="s" >
								<h1 class="em-slider-sub-title">Be the change maker.</h1>
							</div>			
							<div class="wow slideInRight animated" data-wow-duration="3s" data-wow-delay="s" >
								<p class="em-slider-descript">We mirror our community through children education and family growth.</p>
							</div>
							<!-- <div class="em-slider-button wow  bounceInUp  em-button-button-area animated" data-wow-duration="3s" data-wow-delay="s">
								<a class="em-active-button" href="#">OUR SERVICE</a>
								<a class="withput-active" href="#">DONATE NOW</a>
							</div> -->
						</div>
						
					</div>			
				</div>
			</div>
		</div>
	</div>
</div>

<!-- witr_about_area -->
<div class="witr_about_area">
	<div class="container">
		<div class="row">			
			<div class="col-lg-5 col-md-12 col-sm-12">
				<div class="single_image witr_righti">
					<img src="{% static 'assets/images/about-1.png' %}" alt="">
				</div> 				
			</div>			
			<div class="col-lg-7 col-md-12 col-sm-12">
               <div class="witr_text_widget witr_about_widget">
				<div class="witr_text_widget_inner">
					<h2>What we do & Why we do it?</h2>		
					<p>Community Centre for Children Mission provides a range of statutory and community services to support the education of children, young people, and their families in our communities and the world at large. Community Center for Children Mission is a charitable organization that was birthed out of love for families and children's development. <br>
						Children are the willing hearts that change the community if they are properly harnessed towards the following.   </p>								
				</div>
			</div>
			<div class="exoert-icon">
				<ul class="icon-list-items">
					<li>
						<span><i class="icofont-verification-check"></i></span>
						<span class="icon-list-text">Educational Development.</span>
					</li>
					<li>
						<span><i class="icofont-verification-check"></i></span>
						<span class="icon-list-text">Mentorship.</span>
					</li>
					<li>
						<span><i class="icofont-verification-check"></i></span>
						<span class="icon-list-text">Care.</span>
					</li>
					<li>
						<span><i class="icofont-verification-check"></i></span>
						<span class="icon-list-text">Skills and technological advancement.</span>
					</li>
					<li>
						<span><i class="icofont-verification-check"></i></span>
						<span class="icon-list-text">Family inclusiveness and enrichment.</span>
					</li>
					
				</ul>
			</div>
				<!-- <div class="witr_single_progress all_color_bar">
					<div class="witr_title2">
						<span class="witr_label">In us for over<span> 80% Sucess</span> </span>	
					</div>		
					<div class="progress witr_progress-style2">
						<div class="progress-bar wow fadeInLeft animated animated" data-wow-duration="1.5s" data-wow-delay="0.2s" style="width: 87%; visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInLeft;">
							<span class="witr_percent">87%</span>					
						</div>
					</div>				
				</div> -->
				<div class="witr_button_area">
					<div class="witr_btn_style mr">
						<div class="witr_btn_sinner">	
							<a href="{% url 'about' %}" class="witr_btn">ABOUT US</a>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>						
</div>	

<!-- themex_service_area -->
<div class="themex_service_area">			
	<div class="container">
		<div class="row service-top">
			
			<!-- themex-service-1 -->
			<div class="col-lg-4 col-md-6 col-sm-12">	
				<div class="witr_service_3d witr_service_con_3d">
					<div class="witr_single_service_3d all_color_service text-center">
						<div class="witr_service_front_3d">
							<div class="witr_service_position">
								<div class="witr_service_content_3d witr1_service1_icon1_3d">
									<div class="witr_service_icon_3d ">
										<i class="icofont-users"></i>								
										<h3>Become a Volunteer</h3>		
									</div>
								</div>
							</div>
						</div>
						<!-- bekend -->
						<div class="witr_service_back_3d">
							<div class="witr_service_position">
								<div class="witr_service_content_3d">
									<div class="witr_service_icon_3d ">
										<p>Volunteer with us to make a difference in our
											community. We have roles to suit everyone, no matter how much time you have to give
											and whatever your experience, status or qualification. <a href="https://docs.google.com/forms/d/109wDa1ykdITsGvbz7WhHm3j-UhhWpG0kRmGAALnmaIY/viewform?edit_requested=true">Register here.</a>  </p>		
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- themex-service-2 -->
			<div class="col-lg-4 col-md-6 col-sm-12">	
				<div class="witr_service_3d witr_service_con_3d">
					<div class="witr_single_service_3d all_color_service text-center">
						<div class="witr_service_front_3d">
							<div class="witr_service_position">
								<div class="witr_service_content_3d witr1_service1_icon1_3d">
									<div class="witr_service_icon_3d all_icon_color">
										<i class="fas fa-donate"></i>								
									</div>
									<h3>Quick Fundraise</h3>		
								</div>
							</div>
						</div>
						<!-- bekend -->
						<div class="witr_service_back_3d">
							<div class="witr_service_position">
								<div class="witr_service_content_3d">
									<div class="witr_service_icon_3d all_icon_color"></div>
									<p>Caring for vulnerable children require all hands-on deck. Government, organizations, Individual, and
										Companies. Common front, common goal, and common Fund, these goes a long way for better
										community.  </p>		
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- themex-service-3 -->
			<div class="col-lg-4 col-md-6 col-sm-12">	
				<div class="witr_service_3d witr_service_con_3d">
					<div class="witr_single_service_3d all_color_service text-center">
						<div class="witr_service_front_3d">
							<div class="witr_service_position">
								<div class="witr_service_content_3d witr1_service1_icon1_3d">
									<div class="witr_service_icon_3d all_icon_color">
										<i class="fas fa-dollar-sign"></i>							
									</div>
									<h3>Give Donation</h3>		
								</div>
							</div>
						</div>
						<!-- bekend -->
						<div class="witr_service_back_3d">
							<div class="witr_service_position">
								<div class="witr_service_content_3d">
									<div class="witr_service_icon_3d all_icon_color"></div>
									<p>Your kindest change lives! We depend on donations to make sure we lunch effective, free, and
										qualitative education, after school care, skills, and technology camps/classes. You can donate <span class="color: white;"><a class='color: white;' href="{% url 'donate' %}">here</a></span> </p>		
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- themex-service-4 -->
		</div>
	</div>	
</div>	


<!-- themex_partners_area -->
<div class="themex_counter_area">		
	<div class="witr_humanist_title">
		<div class="witr_section_title_inner text-center">
			<div class="d-inline">
				<h3 class="mb-5">Our Partners </h3>
			</div>
			
		</div>
	</div>
	<div class="container">
		<section class="customer-logos slider">
			{% for partner in partners %}
				<div class="slide"><img src="{{partner.partner_logo.url}}"></div>
			{% endfor %}
		 </section>
	</div>
</div>

<!-- themex_humanist_project_area -->
<div class="themex_humanist_project_area">			
	<div class="container">
		<div class="row">
			<div class="col-lg-8">	
				<div class="witr_humanist_title">
					<div class="witr_section_title_inner text-left">
						<!-- <h2>Ongoing Activities</h2> -->
						<div class="d-inline">
							<h3 style="color: #1e88e5;" >Ongoing Activities </h3>
							<!-- <a class="" href="{% url 'contact' %}"><h3><u>Contact Us</u></h3></a></br> -->
						</div>
						
					</div>
				</div>				
			</div>
		</div>
		<div class="row humanist_top">
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pure-service_area">
					<div class="service-item all_color_service text-left">
						<div class="service_top_image"></div>
						<div class="text_box all_icon_color">
							<i class="icofont-book"></i>
							<h2>Education</h2>		
							<h5>Reading, Resources and Book drives </h5>
							<div class="service-btn">
								<a href="{% url 'education' %}">Read More</a>
							</div>
						</div> 						
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pure-service_area">
					<div class="service-item all_color_service text-left">
						<div class="service_top_image"></div>
						<div class="text_box all_icon_color">
							<i class="icofont-speech-comments"></i>
							<h2>Mentorship</h2>		
							<h5>Children on a mission</h5>
							<div class="service-btn">
								<a href="{% url 'mentorship' %}">Read More</a>
							</div>
						</div> 						
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pure-service_area">
					<div class="service-item all_color_service text-left">
						<div class="service_top_image"></div>
						<div class="text_box all_icon_color">
							<i class="icofont-verification-check"></i>
							<h2>Empowerment</h2>		
							<h5>Tutoring </h5>
							<div class="service-btn">
								<a href="{% url 'empowerment' %}">Read More</a>
							</div>
						</div> 						
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="pure-service_area">
					<div class="service-item all_color_service text-left">
						<div class="service_top_image"></div>
						<div class="text_box all_icon_color">
							<i class="icofont-coconut-water"></i>
							<h2>Care</h2>
							<h5>Daycare, After-School and Summer camp</h5>
							<div class="service-btn">
								<a href="{% url 'care' %}">Read More</a>
							</div>
						</div> 						
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="pure-service_area">
					<div class="service-item all_color_service text-left">
						<div class="service_top_image"></div>
						<div class="text_box all_icon_color">
							<i class="fas fa-hand-holding-heart"></i>
							<h2>Suprise a Child</h2>		
							<h5>Make a child's holiday dream come true. </h5>
							<div class="service-btn">
								<a href="{% url 'suprise' %}">Read More</a>
							</div>
						</div> 						
					</div>
				</div>
			</div>
			<!-- <div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pure-service_area">
					<div class="service-item all_color_service text-left">
						<div class="service_top_image"></div>
						<div class="text_box all_icon_color">
							<i class="icofont-book"></i>
							<h3>Happy Hour</h3>		
							<p>This is just a simple text made to replace with any text. since caecal cupidatate non-proident. </p>		
							<div class="service-btn">
								<a href="single-service.html">Read More</a>
							</div>
						</div> 						
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>
				
<!-- themex_post_video_area
<div class="themex_post_video_area">			
	<div class="container">				
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class=" witr_6 text-center">
					<div class="themex_content all_cal_color">			
						<h5>POST VIDEO</h5>																	
						<h2>How Can You Help?</h2>																	
						<p>Your donation will help us save and improve lives with research,
						education three and emergency care. </p>		
					</div>
					<div class="witr_9">
						<div class="themex_video_inner">
							<a class="video-popup video-vemo-icon venobox vbox-item" data-vbtype="youtube" data-autoplay="true" href="https://www.youtube.com/watch?v=XHOmBV4js_E">								
							<i aria-hidden="true" class="fas fa-play"></i></a>
						</div>
					</div>	
					<div class="themex_button witr_b9 all_cal_color">						
						<a href="#"> DONATE NOW	</a>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div> -->

<!-- themex_team_member_area -->
<!-- <div class="themex_team_member_area">			
	<div class="container">
		<div class="row">
			<div class="col-lg-12">	
				<div class="witr_section_title">
					<div class="witr_section_title_inner text-center">
						<h2>Board of Directors</h2>
						<h3 class="text-light">The Board</h3>		
					</div>
				</div>
			</div>
		</div>
		<div class="row team_top">
			{% for person in persons %}
				{% if person.is_member_of_board %}
					<div class="col-md-6 col-lg-3">
						<div class="img-block mb-5">
							<img src="{{person.image.url}}" class="img-fluid  img-thumbnail " height="360px" width="345px" alt="image1">
							<div class="content text-center mt-2">
								<h4>{{person.name}}</h4>
								<p class="text-muted">{{person.job_role}}</p>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
						
		</div>
		
	</div>
</div> -->

<!-- themex_event_area	 -->
<div class="themex_event_area">			
	<div class="container">
		<div class="row">
			<div class="col-lg-6">	
				<div class="witr_section_title">
					<div class="witr_section_title_inner text-left">
						<h2>OUR EVENT</h2>		
						<h3>Upcoming Events</h3>		
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="witr_button_area">
					<div class="witr_btn_style mr">
						<div class="witr_btn_sinner">
							<a href="{% url 'events' %}" class="witr_btn">SEE MORE EVENT</a>
						</div>						
					</div>
				</div>
			</div>
		</div>
		<div class="row event-top"> 
			<div class="col-lg-12">
				<div class="event_active event_style_adn_3 witr_3e event_all_color text-">				
					<div class="event_wrap">			
						{% for event in events %}
							<div class="col-lg-12 col-md-12 col-sm-12  witr_all_mb_30">
								<div class="row themex-single-event_adn witr_event_style_5">
									<div class="col-lg-3 col-md-6">
										<div class="themex-event-thumb_adn">
											<a href="{% url 'event_detail' event.id event.name %}"> <img  src="{{event.thumbnail.url}}" alt=""></a>
										</div>									
									</div>
									<div class="col-lg-4 col-md-6">
										<div class="event-page-title_adn ">
											<p>Goal: ${{event.goal}}</p>
											<h2><a href="{% url 'event_detail' event.id event.name %}">{{event.name}}</a></h2>
											<div class="themex-event-meta-left_adn">
												<span><i class="fas fa-map-marker-alt"></i>{{event.event_location}}</span>
											</div>
											
										</div>		
																	
									</div>	
									<div class="col-lg-3 col-md-6">
										<div class="witr_event_d">
											<div class="event_date_5">
											<span><i class="fas fa-calendar"></i></span>
											<span>{{event.event_date_time}}</span>
										</div>		
											
										</div>
									</div>
									<div class="col-lg-2 col-md-6">
										<div class="witr_event_btn btn_all_color">
											<a href="{% url 'event_detail' event.id event.name %}">Donate Now </a>
											<a href="{{event.registration_link}}">Register Now </a>
										</div>												
									</div>											
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- themex-blog-area -->
<div class="themex-blog-area">	
	<div class="container">	
		<div class="row">
			<div class=" col-lg-12">
				<div class="witr_section_title">
					<div class="witr_section_title_inner text-center">
						<h2>BLOG POSTS</h2>		
						<h3>Communities around the world <br>need your help.</h3>		
					</div>
				</div>
			</div>
		</div>
		<div class="row blog_top">
			{% for article in articles %}
			
				
				{% if not article.link %}
					<div class=" col-lg-4  col-md-6 col-sm-12 ">
						<div class="blog-part all_blog_color">
							<div class="blog_part_inner">
								<div class="witr_blog_imags">
									<div class="blog-img">
										<a href="{% url 'article_detail' article.id article.slug %}"> <img src="{{article.featured_image.url}}" alt=""> </a>
									</div>
								</div>
								<div class="wblog-content blog-content-2 all_blog_color">
									<span><a href="#"><i class="icofont-calendar"></i></a>{{article.date_stamp}}</span>
									<!-- <span><a href="#"><i class="icofont-speech-comments"></i>{{article.comment_set.count}}</a></span> -->
									<h5><a  href="{% url 'article_detail' article.id article.slug %}">{{article.title}}</a></h5>
									<a class="btn2"  href="{% url 'article_detail' article.id article.slug %}">Read More</a>
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<div class=" col-lg-4  col-md-6 col-sm-12 ">
						<div class="blog-part all_blog_color">
							<div class="blog_part_inner">
								<div class="witr_blog_imags">
									<div class="blog-img">
										<a href="{{article.link}}"> <img src="{{article.featured_image.url}}" alt=""> </a>
									</div>
								</div>
								<div class="wblog-content blog-content-2 all_blog_color">
									<span><a href="#"><i class="icofont-calendar"></i></a>{{article.date_stamp}}</span>
									<!-- <span><a href="#"><i class="icofont-speech-comments"></i>{{article.comment_set.count}}</a></span> -->
									<h5><a  href="{{article.link}}">{{article.title}}</a></h5>
									<a class="btn2"  href="{{article.link}}">Read More</a>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

<script>
	if( /iPhone|iPad|iPod/i.test(navigator.userAgent) ) {
		document.getElementsByClassName("themex_service_area")[0].style.display = "none";
	};

</script>

{% endblock %}